body {
  font-family: 'roboto', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav {
  position: sticky;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main-nav {
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
}

.main-nav-menu {
  margin: 5px;
}

.navBar {
  /* background-color: #03a9f4; */
}

.color-bar {
  background-color: #1769aa;
  height: 20px;
}

.OptionComponent {
  display: flex;
  align-items: center;
}

.SubmitOrder {
  border: 4px ridge #061d48;
  display: flex;
  background-color: #1ab675;
  justify-content: center;
  padding: 10px;
  -webkit-animation: xition 2s;
}

.False {
  background-color: #b61a1a;
  -webkit-animation: xition 2s;
}

.Ready {
  background-color: #ddff01;
  -webkit-animation: xition 2s;
}

.canva {
  background-color: rgba(202, 202, 186, 0.605);
  border: ridge 3px white;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ChartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Chart {
  display: flex;
  justify-content: space-around;
}

.page-container {
  margin-left: 30px;
}

table {
  margin: 30px, 30px, 30px, 30px;
  border: 3px solid white;
  -webkit-animation: fadein 2s;
}

td,
th {
  padding: 5px 15px 5px 15px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 5px;
  border-color: #0d0f91;
}

.Stamp {
  height: 150px;
  height: 150px;
}

.singleDiveImg {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 350px;
  height: 300px;
  padding: 30px;
}

.member-date {
  margin-top: 0;
  font-weight: normal;
  margin-left: 5px;
}

.welcome-bar {
  margin-bottom: 2px;
}
